{% if page.comments != false %}
  <div id="gitalk-container"></div>
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css"> -->
  <link rel="stylesheet" href="{{ assets_base_url }}/assets/vendor/gitalk/gitalk.css">
  <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
  <script>
  var gitalk = new Gitalk({
      id: '{{ page.url | truncate: 50, '' }}',
      clientID: '{{ site.gitalk.clientID }}',
      clientSecret: '{{ site.gitalk.clientSecret }}',
      repo: '{{ site.gitalk.repo }}',
      owner: '{{ site.gitalk.owner }}',
      admin: ['{{ site.gitalk.owner }}'],
      labels: ['gitment'],
      perPage: 50,
  });
  gitalk.render('gitalk-container');
  </script>
{% endif %}
